<%- include('./header.ejs')%>




 <div class="container-fluid">
    <div class="row">

    
        <div class="col-sm-12 col-md-3 col-lg-2 p-0">
            <%- include('./left.ejs')%>
        </div>

        <div class="col-sm-12 col-md-9 col-lg-10 " style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
            
            <% if(productdata.length>0) { %>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">fileupload</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <% for(var i=0; i<productdata.length; i++) { %>
                <tbody>
                  <tr>
                    <td><%= i %></td>
                    <td><%= productdata[i].productname %></td>
                    <td><%= productdata[i].productdescription %></td>
                    <td><%= productdata[i].price %></td>
                    <td><%= productdata[i].fileupload %></td>
                    <td><a href='/edit/<%=productdata[i]._id %>'>Edit</a></td>
                    <td><a href='/delete2/<%=productdata[i]._id %>'>Delete</a></td>
                  </tr>
                </tbody>
                <% } %>

              </table>
              <% } else { %>
              No Record Found 
            <% } %>

        

    </div>
</div> 

