<%- include('./header.ejs')%>




 <div class="container-fluid">
    <div class="row">

    
        <div class="col-sm-12 col-md-3 col-lg-2 p-0">
            <%- include('./left.ejs')%>
        </div>

        <div class="col-sm-12 col-md-9 col-lg-10 " style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
            
           <% if(viewcontacts.length>0) { %>
            <table class="table">
                
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">fullname</th>
                    <th scope="col">email</th>
                    <th scope="col">phone</th>
                    <th scope="col">massage</th>
                    <th scope="col">Delete</th>
                  </tr>
               

                <% for(var i=0; i<viewcontacts.length; i++) { %>
                
                
                  <tr>
                    <td><%= i %></td>
                    <td><%= viewcontacts[i].fullName %></td>
                    <td><%= viewcontacts[i].phoneNumber %></td>
                    <td><%= viewcontacts[i].email %></td>
                    <td><%= viewcontacts[i].message %></td>
                    
                    <td><button class="rounded "><a  class="text-decoration-none text-dark text-uppercase" href='/delete3/<%= viewcontacts[i]._id %>'>delete</a></button></td>
                  </tr>
               

                <% } %>
              

              </table>
              <% } else { %>
                No Rocord Found
                <% } %>
           

        

    </div>
</div> 

