<%- include('./header.ejs')%>




 <div class="container-fluid">
    <div class="row">

    
        <div class="col-sm-12 col-md-3 col-lg-2 p-0">
            <%- include('./left.ejs')%>
        </div>

        <div class="col-sm-12 col-md-9 col-lg-10 " style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
            
            <% if(viewdata.length>0) { %>
            <table class="table text-center">
                
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                   
                  </tr>
                
                <% for(var i=0; i<viewdata.length; i++) { %>
                
                  <tr>
                    <td><%= i %></td>
                    <td><%= viewdata[i].FirstName %></td>
                    <td><%= viewdata[i].LastName %></td>
                    <td><%= viewdata[i].Email %></td> 
                    <td><%= viewdata[i].Password %></td>
                    <td class=" bg-success rounded hoverr "><a class="text-white text-decoration-none" href='/edit/<%= viewdata[i]._id %>'>Edit</a></td>
                    <td class=" bg-danger rounded hoverr"><a class="text-white text-decoration-none" href='/delete/<%= viewdata[i]._id %>'>Delete</a></td>
                
                  </tr>
                  
                    <% } %>

                    

                
              </table>
              <% } else { %>
                No Record Found
                <% } %> 

        

    </div>
</div> 

